# Markdown in Jupyter Notebook

### Headers

# header 1, titles
## header 2, major headings
### header 3, sub headings
#### header 4
##### header 5
###### header 6

### Blockquote

>blockquote<Br>

or

<blockquote>This is good</blockquote>

### Bolt

<b>This is bolt</b>

or

**Bold text**

### underline

<u>this one is underline</u>

### Italic

<i>This is italic</i>

or

*This is italic <Br>*

### Lists

<ol>
    <li>Fish</li>
    <li>dog</li>
</ol>

### Tables

| a | b |
| - | - |
| 1 | 2 |
| 3 | 4 |

### horisontal line brake

<hr>

---

### Q1 - display a table in markdown to show student name age and city show 5 example students

| name | age | city |
| ---- | --- | ---- |
| amal | 10 | galle |
| nimal | 12 | matara |
| kamal | 9 | colombo |
| sunil | 10 | kalutara |
| piyumal | 20 | vavuniya |