# Python programming language

## Comments

#### Single line comments

In [ ]:
# This is the single line comments

#### Multiline comments

In [ ]:
""" this is multilie comments.
can span multiple lines. """

## Indentation

Incorrect Syntaxt will lead to ``` invalied syntaxt

In [10]:
python if x > 0:print("x is positive") else: print("x is not positive")

SyntaxError: invalid syntax (3197693449.py, line 1)

## Case Sensivity

In [8]:
myVariable = 1
myvariable = 2

print(myVariable)

1

## dynamic typing

In [17]:
''' python
x = 10 # x is an integer
x = "hello"
# x is now a string '''

' python\nx = 10 # x is an integer\nx = "hello"\n# x is now a string '

In [13]:
x = 10 
print(x)
x = "hello"
print(x)

10
hello

## Diclaring variables

#### simple assignment

In [20]:
x = 5                     # integer
y = 3.14                  # float
name = "Amal"             # string
is_student = True         # boolean

print(x,y,name,is_student)

5 3.14 Amal True

#### multiple assignment

In [23]:
x, y, z = 10,20,30
print(x,y,z)

10 20 30

#### numbers

In [25]:
num1 = 10            #integer
num2 = 3.14          #float
num3 = 2+3j          #complex number
print(num1,num2,num3)

10 3.14 (2+3j)

#### strings

In [31]:
greeting = "Hello"
name = "World"
massage = greeting + " , " + name + "!"
print (massage)

Hello , Dewmith!

#### list

In [33]:
fruits = ["apple" , "banana", "mango"]
print(fruits)
print(fruits[0])

['apple', 'banana', 'mango']
apple

### Tupils

In [35]:
thistupils = ("apple" , "banana", "mango")
print(thistupils)

('apple', 'banana', 'mango')

In [37]:
# Acsess
thistupils = ("apple" , "banana", "mango")
print(thistupils[0])

apple

In [39]:
# add
thistupils = ("apple" , "banana", "mango")
y = list(thistupils)
y.append("orange")
thistupils = tuple(y)
print(thistupils)

('apple', 'banana', 'mango', 'orange')

In [41]:
# update
x = ("apple" , "banana", "mango")
y = list(x)
y[1]="orange"
x = tuple(y)
print(x)

('apple', 'orange', 'mango')

### Sets

In [44]:
thisset = {"apple" , "banana", "mango"}
print(thisset)

{'apple', 'mango', 'banana'}

In [ ]:
# Acsess (single values)
print(thisset[1])

# when acsess in sets we must need to add loop. this code might bug

In [46]:
thisset = {"apple" , "banana", "mango"}
for x in thisset:
    print(x)

apple
mango
banana

##### validation in sets

In [48]:
thisset = {"apple" , "banana", "mango"}
print ("apple" in thisset)

True

In [50]:
thisset = {"apple" , "banana", "mango"}
print ("apple" not in thisset)

False

In [52]:
# add
thisset = {"apple" , "banana", "mango"}
thisset.add("orange")
print (thisset)

{'orange', 'apple', 'mango', 'banana'}

In [59]:
thisset = {"apple" , "banana", "mango"}
outher = {"wood-apple", "chery", "Orange"}
thisset.update(outher)
print(thisset)

{'Orange', 'wood-apple', 'apple', 'chery', 'banana', 'mango'}

In [63]:
# remove
thisset = {"apple" , "banana", "mango"}
thisset.remove("apple")
print (thisset)

{'mango', 'banana'}

In [67]:
# remove using discard method
thisset = {"apple" , "banana", "mango"}
thisset.discard("mango")
print (thisset)

{'apple', 'banana'}

### dictionaries

In [69]:
thisdict = {
    "brand" : "Ford",
    "model" : "mustang",
    "year" : 1969
}

print(thisdict)

{'brand': 'Ford', 'model': 'mustang', 'year': 1969}

In [77]:
# access 

thisdict = {
    "brand" : "Ford",
    "model" : "mustang",
    "year" : 1969
}

print(thisdict["brand"]) # can't access using index (ex : 0, 1)

Ford

In [79]:
# access  with get

thisdict = {
    "brand" : "Ford",
    "model" : "mustang",
    "year" : 1969
}

print(thisdict.get("model"))

mustang

In [83]:
# change

thisdict = {
    "brand" : "Ford",
    "model" : "mustang",
    "year" : 1969
}

thisdict["year"] = 2020

print(thisdict.get("year"))

2020

In [85]:
# change with update

thisdict = {
    "brand" : "Ford",
    "model" : "mustang",
    "year" : 1969
}

thisdict.update ({"year" : 2015})

print(thisdict.get("year"))

2015

In [87]:
# add

thisdict = {
    "brand" : "Ford",
    "model" : "mustang",
    "year" : 1969
}

thisdict["colour"] = "black"

print(thisdict)

{'brand': 'Ford', 'model': 'mustang', 'year': 1969, 'colour': 'black'}

In [91]:
# add with update

thisdict = {
    "brand" : "Ford",
    "model" : "mustang",
    "year" : 1969
}

thisdict.update({"colour" : "black"})

print(thisdict)

{'brand': 'Ford', 'model': 'mustang', 'year': 1969, 'colour': 'black'}

In [95]:
# remove

thisdict = {
    "brand" : "Ford",
    "model" : "mustang",
    "year" : 1969
}

thisdict.pop("brand")

print(thisdict)

In [97]:
# remove from del

thisdict = {
    "brand" : "Ford",
    "model" : "mustang",
    "year" : 1969
}

del thisdict

print(thisdict) # this will cause an error becouse "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

### In class task

In [108]:
#Q1

age = 20
if age >= 18:
    print("You are a adult")
else:
    print("you are minor")

You are a adult

In [116]:
#Q2

name = "sunil"
birthYear = 2005
favColours = {"red", "black"}

age = 2025 - birthYear

print(name, age, favColours)

sunil 20 {'red', 'black'}

### arithmatic operators

In [118]:
x = 10
y = 3

print(x + y)          # output : 13
print(x - y)          # output : 7
print(x * y)          # output : 30
print(x / y)          # output : 3.3333333333333335
print(x // y)         # output : 3
print(x % y)          # output : 1
print(x ** y)         # output : 1000

13
7
30
3.3333333333333335
3
1
1000

### logical operators

In [122]:
a = True
b = False

print(a and b)        # Output : False
print(a or b)         # Output : True
print(not a)          # Output : False

False
True
False

### Comparison operators

In [124]:
a = 5
b = 10

print(a == b)        # Output : False
print(a != b)        # Output : True
print(a > b)         # Output : False
print(a < b)         # Output : True
print(a >= b)        # Output : False
print(a <= b)        # Output : True

False
True
False
True
False
True

### Assignment operators

In [130]:
x = 10

x += 3  
print(x)           # output : 13

x -= 3
print(x)           # output : 10

x *= 4
print(x)           # output : 40

x /= 2
print(x)           # output : 20.0

x //= 7
print(x)           # output : 2.0

x %= 5
print(x)           # output : 2.0

x **= 4
print(x)           # output : 16.0

13
10
40
20.0
2.0
2.0
16.0

### In class task

In [156]:
# Q3

first_val = 10
sec_val = 20
operator = "+"

if operator == "+":
    print (first_val + sec_val)
elif operator == "-":
    print (first_val - sec_val)
elif operator == "*":
    print (first_val * sec_val)
elif operator == "/":
    print (first_val / sec_val)

30

In [154]:
first_val = "10"
sec_val = "20"
operator = "+"

print(eval(first_val + operator + sec_val))

30

In [140]:
# Q4

name = input("Enter your name : ")
age = input("Enter your age : ")

print(f"Hello, {name}! you are {age} years old.")

Enter your name :  dew
Enter your age :  19

Hello, dew! you are 19 years old.

In [146]:
# Q5

first_name = input("your first name : ")
last_name = input("your last name : ")
city = input("your city : ")

print("full name : "+ first_name +" "+ last_name)
print("City : "+city)

your first name :  dew
your last name :  mihi
your city :  g

full name : dew mihi
City : g

### elif statement

In [ ]:
if condition:
    # code execute if statement is true
elif condition2:
    # code execute elif statement is true
else:
    # code execute else statement is true

### nested if-else

In [ ]:
if condition1:
    # code execute if statement is true
    if condition1:
        # code execute condition1 if statement and condition2 if statement is true
    else:
        # code execute condition1 if statement and condition2 if statement is false
else:
    # code execute if statement is false

### In class task

In [170]:
# Q6

year = 2021

if year % 4 == 0:
    print("leap year")
else:
    print("not a leap year")

not a leap year

## Loops

### for loops

In [ ]:
for item in sequence:
    # code to be executed for each item

In [174]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### while loops

In [176]:
count =0
while count <5:
    print(count)
    count += 1

0
1
2
3
4

### break

In [178]:
for i in range(1,11):
    if i == 5:
        break
    print(i)

1
2
3
4

### continue

In [184]:
for i in range(1,11):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

### else in loop

In [190]:
for i in range(1,11):
    print(i) 
else:
    print("loop is complete")

1
2
3
4
5
6
7
8
9
10
loop is complete

In [192]:
for i in range (1, 11):
    print ("*" * i)

*
**
***
****
*****
******
*******
********
*********
**********

In [202]:
for i in range (11,0,-1):
    print ("*" * i)

***********
**********
*********
********
*******
******
*****
****
***
**
*

In [206]:
for i in range (11,1,-1):
    print ("*" * i)
for i in range (1, 11):
    print ("*" * i)

***********
**********
*********
********
*******
******
*****
****
***
**
*
**
***
****
*****
******
*******
********
*********
**********

### functions

In [208]:
def greet(name):
    return f"hello, {name}!"

print(greet("sunil"))

hello, sunil!

### In class task

In [216]:
def calculator(val1, val2, op):
    return eval(val1 + op + val2)


first_val = input("first no : ")
sec_val = input("second no : ")
operator = input("operator : ")

print(calculator(first_val, sec_val, operator))

first no :  9
second no :  1
operator :  +

10

### infinity loop

In [ ]:
def loopdef():
    while True:
        print("aa")
        break

if _name_ == "_main_":
    loopdef()

## importing modules

### simulise dice rolling

In [231]:
import random

def roll_dice():
    """ simulize dice """
    return random.randint(1,6)

result = roll_dice();

print("You rolled ; " , result)

You rolled ;  1

## exeption handling

### try, except, finaly

In [233]:
try:
    numarator = int(input("Enter a number : "))
    denominator = int(input("Enter denominator : "))
    result = numarator/denominator
    print("result ", result)
except ZeroDivisionError:
    print("Error: division by zero in not allowed")
finally:
    print("operation complete")

Enter a number :  60
Enter denominator :  9

result  6.666666666666667
operation complete

In [235]:
while True:
    try:
        number = float(input("Enter a number : "))
        break
    except ValueError:
        print("Invalied input. Please enter a number")
print("You entered: ", number)

Enter a number :  6

You entered:  6.0

## Read files

In [265]:
file_object = open("filename.txt","r")
content = file_object.read()
print(content)

file_object.close()

file writing 123

### opening a file

In [ ]:
file_object = open("filename.txt","r")

### reading a file

In [ ]:
content = file_object.read()

### closing a file

In [ ]:
file_object.close()

## Write a file

In [262]:
file_object = open("filename.txt","w")
file_object.write("file writing 123")

# must have to close. if not close this it didnt write
file_object.close()

### In class task

In [283]:
# Q10

try:
    file_object = open("filename.txt","r")
    content = file_object.read()
    file_object.close()
    
    word_count = content.split(" ")
    
    print("Content of the file : ",content)
    print("word count in the content : ",len(word_count))
    
except FileNotFoundError:
    print("file input not found")

Content of the file :  Hello World.
word count in the content :  2